/.settings/
/.metadata/
/bin/
/gen/
/webapp/WEB-INF/classes/
/webapp/data/
/webapp/logs/
/webapp/log/
/dist/
/target/
/log/
/logs/

/.classpath
/.project
/project.properties
/lint.xml
/upgrade.log
/.classpath







